﻿
@model Vidly.Models.Movie

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<br/>
<ul>
    <li>Genre        : @Model.MovieGenre.Name</li>
    <li>Stock        : @Model.NumberInStock</li>
    <li>Release Date : @Model.ReleaseDate.ToShortDateString()</li>
    <li>DB Date      : @Model.AddedDate.ToShortDateString()</li>
    <li>Stock        : @Model.NumberInStock</li>
</ul>


