﻿
@model Vidly.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<br/>
<ul>
    <li>Membership type : @Model.MembershipType.Name</li>
    @if (Model.BirthDate.HasValue)
    {
        <li>@Model.BirthDate.Value.ToShortDateString()</li>
    }

</ul>


